/* ---------------------------------------------------------------
CSS Reset (minified)
--------------------------------------------------------------- */

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{border:0;font:inherit;font-size:100%;margin:0;padding:0;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* This is a slightly adjusted version of the box-sizing reset for ensuring that components inside an explicitly declared content-box are also content-box'ed */

html{box-sizing:border-box}*,*:after,*:before{box-sizing:inherit}

/* ---------------------------------------------------------------
My Base Styles
--------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
  font-size: 14px;
  line-height: 1.5;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, a {
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

label, input {
  display: block;
}

a {
  text-decoration: none;
}

:root {
  --lightRed: #e74c3c;
  --darkerRed: #c0392b;
  --offWhite: #f5f5f5;
  --offBlue: #323347;
}

/* ---------------------------------------------------------------
Modular Classes
--------------------------------------------------------------- */

.container {
  margin: 0 auto;
  padding: 0 30px;
  text-align: center;
  max-width: 1200px;
}

.container-inner {
  max-width: 900px;
  text-align: center;
  /* border: 3px solid goldenrod; */
  margin: 0 auto;
}

.flex {
  display: flex;
}

/* ---------------------------------------------------------------
Project Specific Styling
--------------------------------------------------------------- */

/* ---------------------------------------------------------------
Header
--------------------------------------------------------------- */

header {
  background-color: var(--offBlue);
  color: white;
  font-weight: 900;
}

header nav {
  padding: 10px 20px;
  justify-content: space-between;
}

header nav li {
  margin-right: 10px;
}

header nav li:last-child {
  margin-right: 0;
}

header nav li a {
  color: white;
  font-size: 0.8em;
}

/* ---------------------------------------------------------------
Hero
--------------------------------------------------------------- */

.hero {
  background-color: var(--offBlue);
  padding: 100px 0;
}

.hero .container > * {
  margin: 10px;
}

.hero-heading {
  color: white;
}

.hero-text {
  color: var(--lightRed);
  font-size: 1.5em;
}

.hero-button {
  display: inline-block;
  background-color: var(--lightRed);
  text-decoration: none;
  color: white;
  padding: 10px;
}

/* ---------------------------------------------------------------
Intro
--------------------------------------------------------------- */

.intro {
  background-color: var(--offWhite);
  padding: 50px 0;
}

.intro__all-cards {
  display:flex;
  justify-content: space-around;
  margin-top: 50px;
}

.intro .container > * {
  margin-bottom: 20px;
}

.intro .card {
  background-color: white;
  flex-basis: 300px;
  padding: 30px;
}

.intro .card img {
  border-radius: 50%;
}

/* ---------------------------------------------------------------
Products
--------------------------------------------------------------- */

.products {
  background-color: var(--lightRed);
  padding: 50px 0;
}

.products .container > * {
  margin-bottom: 20px;
}

.product-all-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-all-cards .card {
  flex-basis: 400px;
  background-color: #EC828C;
  padding: 30px;
  margin-bottom: 20px;
  box-shadow: 0px 1px 3px #333;
}

.products .card > * {
  margin-bottom: 20px;
}

.products .card img {
  border-radius: 50%;
}

/* ---------------------------------------------------------------
Blog
--------------------------------------------------------------- */

.blog {
  background-color: white;
  padding: 75px 0;
}

.blog .container > * {
  margin-top: 20px;
  margin-bottom: 20px;
}

.blog-all-cards {
  display: flex;
  justify-content: space-between;
}

.blog-all-cards .card {
  flex-basis: 300px;
}

.blog-all-cards .card > * {
  margin-bottom: 20px;
}

.blog-all-cards a {
  text-decoration: none;
  color: black;
  border: 2px solid gray;
  padding: 7px 10px;
}

/* ---------------------------------------------------------------
Contact
--------------------------------------------------------------- */

.contact {
  background-color: var(--offWhite);
}

.wrapper {
  padding: 20px;
  background-color: white;
}


.contact .wrapper {
  border: 3px solid goldenrod;
  display: flex;
}

.contact .wrapper ul {
  text-align: left;
  border: 3px solid palevioletred;
  flex: 1;
}

.wrapper form {
  /* border: 3px solid royalblue; */
  flex: 2;
  margin-right: 20px;
}

.wrapper form input[type="text"], .wrapper form textarea {
  /* border: 3px solid salmon; */
  width: 100%;
  margin-bottom: 10px;
}

.submit-btn {
  padding: 10px;
}

.reset-btn {
  padding: 10px;
}

/* ---------------------------------------------------------------
Footer
--------------------------------------------------------------- */

footer {
  background-color: #ececec;
  color: gray;
  text-align: center;
  padding: 50px 0 100px 0;
}

footer nav ul {
  display: inline-flex;
  margin-bottom: 30px;
}

footer ul li {
  margin-right: 10px;
}

footer small {
  font-size: 0.7em;
}

footer li:last-child {
  margin-right: 0;
}

footer a {
  display: inline-block;
  text-decoration: none;
  color: gray;
  font-size: 0.8em;
}
