/* ---------------------------------------------------------------
CSS Reset (minified)
--------------------------------------------------------------- */

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{border:0;font:inherit;font-size:100%;margin:0;padding:0;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* This is a slightly adjusted version of the box-sizing reset for ensuring that components inside an explicitly declared content-box are also content-box'ed */

html{box-sizing:border-box}*,*:after,*:before{box-sizing:inherit}

/* ---------------------------------------------------------------
My Base Styles
--------------------------------------------------------------- */

body {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

label, input {
  display: block;
}

.container {
    padding: 0 30px;
    margin: 0 auto;
    width: 800px;
}

.nav-bar {
    border: 3px solid green;
}

.nav-bar li {
    border: 3px solid palevioletred;
    margin-right: 15px;
    flex-wrap: wrap;
}

.nav-bar li:last-child {
    margin-right: 0;
}

.nav-bar li a {
    text-decoration: none;
    color: white;
}

.flex {
    display: flex;
}

.vertical-padding {
    padding: 20px 0;
}

/* ---------------------------------------------------------------
Header
--------------------------------------------------------------- */

header {
    background-color: #F96115;
}



/* ---------------------------------------------------------------
Main
--------------------------------------------------------------- */
main {
    background-color: #D4CEA7;
}
.all-list-blocks {
    /* border: 3px solid goldenrod; */
    justify-content: space-between;
}

.list-block {
    background-color: #005979;
    color: #D4CEA7;
    /* padding-left: 30px; */
    padding: 20px 0px 20px 40px;
    box-shadow: 10px 10px 6px -6px #777;
    flex-basis: 200px;
}

ol {
    list-style-type: decimal;
}

ul.list-block {
    list-style-type: disc;
}

ul.list-type-image {
    list-style-image:
    url('../images/check-circle-solid.svg');
}

.sub-list {
    list-style-type: square;
}

.indent {
    padding-left: 1em;
}

/* ---------------------------------------------------------------
Footer
--------------------------------------------------------------- */

footer {
    background-color: black;
}